/* MARJORIE */
:root{
	--bgcolor:#beb8ac;
	--blue:#2fb7fe;
	--black:#3D3F42;
	--white:#f4f7ff;
	--gray:#d8dce4;
	--lightgray:#8e9095;
    --red: #ff0000;
    --black1: #000000;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
body{
	background: var(--bgcolor);
}
.clearfix{
	clear: both;
}
.resume-box{
	width: 800px;
	height: 1000px;
	margin: 100px auto;
	background: var(--white);
	box-shadow: 5px 21px 20px 20px #3d3f4238;
}
.left-section{
	background: var(--black1);
	width: 250px;
	height: 1000px;
	float: left;
}
.profile{
	overflow: hidden;
	position: relative;
}
.red-box{
    width: 100px;
    height: 500px;
    background: var(--red);
    margin-left: -100px;
    transform: rotateZ(90deg);
    margin-top: -178px;
    
}
.profile-img{
	position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid var(--gray);
}
.name{
    color: var(--gray);
    text-align: center;
    margin-top: -100px;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.name span{
	color: var(--red);
}
.n-p{
	width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid var(--white);
    border-top: 1px solid var(--white);
    color: var(--white);
    margin-top: 11px;
    text-transform: uppercase;
}
.info{
	margin-top: 50px;
}
.heading{
	width: 180px;
    margin: 0 auto;
    padding: 2px;
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
}
.p1{
	color: var(--gray);
	width: 184px;
	margin: 0 auto;
	margin-top: 25px;
	font-size: 13px;
    line-height: 14px;
}
.p1 span{
	font-size: 13px;
}
.span1 img{
	background: white;
    width: 30px;
    padding: 6px;
    border-radius: 16px;
    float: left;
    margin-right: 10px;
}
.right-section{
	padding: 40px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
}
.right-heading img{
	background: #3d3f42;
    width: 36px;
    padding: 7px;
    border-radius: 17px;
    float: left;
    display: inline-block;
    margin-top: -6px;
}
.p2{
    margin: 0 auto;
    padding: 2px;  
    color: var(--black1);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 50px;
    line-height: 18px;
}
.p3{
	margin-top: 20px;
	color: var(--black1);
	text-align: justify;
	word-spacing: -4px;
}
.left{
	width: 25%;
	float: left;
}
.right{
	width: 75%;
	float: left;
}
.lr-box{
	margin-top: 20px;
	margin-bottom: 20px;
}
.p4{
	font-size: 14px;
	font-weight: 600;
}
.p5{
	font-size: 12px;
	color: var(--black1);
}
.h-img{
	margin-top: 25px;
    width: 45px;
    margin-right: 45px;
}
 
/* portfolio */ 
*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

}
.sample{
    background-image: url(..//images/background.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    width: 60%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 250px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: -10%;
}

ul{
    margin-top: 2%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color:#ff0000;
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 65px;
    color: rgb(204, 8, 8);
}
.info span{
    color: black;
}




/* About Us */
*{
    box-sizing: border-box;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}
.column{
    width: 25%;
    float: left;
    padding: 0px 10px;
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 7%;
    justify-content: center;
}

.row::after{
    content: "";
    display: block;
    margin-bottom: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    max-width: 300px;
    margin: auto;
    background-color:white;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 100px;
}
.card h1{
    color: #ff0000;
    position: center;
}

.card h2{
    color: black;

}

.title{
    color: grey;
    font-size: 10px;
}

button{
    border: none;
    padding: 10px;
    display: inline-block;
    color: rgb(255, 246, 246);
    background-color:red;
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

a:hover, button:hover{
    opacity: 1;
    color: rgb(15, 15, 15);
}
.card img{
    width: 20px;
    height: 400px;
}
.card img{
    width: 200px;
    height: 250px;
    padding-top: 30px; 
    padding-left: 0px;
    padding-right: 0px; 
    border-radius: 20px
}
.sample2{
   background-color:white;
    background-position: center;
    background-size: cover;
}
.page{
    position: inherit;
    padding-top: 2%;
    margin-left: 5%;
}

/* TRIBUTE */

.card3{
	height: 1000px;
	width: 1200px;
	padding: 20px 35px;
    background-color: black;
	border-radius: 50px;
	margin-left: 100px;
    margin-right: 50px ;
	overflow: hidden;
	text-align: center;
}
.card3 img{
    height: 300px;
    width: 370px;
    border-radius: 5%;
    margin: .5%;
}
.card3 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    
}
.card3 u{
    color: red;
}
.card3 p{
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
}

/* contact us */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-box{
    background:red;
    text-align: center;
    padding: 50px 90px;
    color: white;
    position: relative;
    border-radius: 20px;
    align-content: center;
    margin-left: 15%;

}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
}
.social-media img{
    width: 30px;
    margin: 30px 5px;
    cursor: pointer;
}
.profile-box1{
    background:red;
    text-align: center;
    padding: 70px 70px;
    color: white;
    position: relative;
    border-radius: 20px;
    margin-left: 20%;
    
    
}
.profile-box span{
    color: black;
}
.profile-box1 span{
    color: black;
}
.sample3{
    background-color: white;
    background-position: center;
    background-size: cover;
}

/* Avtivities */

*{
    box-sizing: border-box;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
.column1{
    width: 25%;
    float: left;
    padding: 0px 10px;
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 7%;
    justify-content: center;
}

.row1::after::after{
    content: "";
    display: block;
    margin-bottom: 20px;
}

.card5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    max-width: 300px;
    margin: auto;
    background-color:black;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 100px;
    align-content: center;
}
.card5 h1{
    color: #ff0000;
    position: center;
    padding-top: 50px;
}

.card5 h2{
    color: white;

}

.title{
    color: grey;
    font-size: 10px;
}

button1{
    border: none;
    padding: 10px;
    display: inline-block;
    color: rgb(255, 246, 246);
    background-color:red;
    cursor: pointer;
    width: 100px;
    border-radius: 0px;
    font-size: 15px;
    text-align: center;
    
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

a:hover, button:hover{
    opacity: 1;
    color: rgb(15, 15, 15);
}

.sample1{
    background-image: url(..//images/background.jpg);
    background-position: center;
    background-size: cover;
}




 
